/* * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
} */
div {
  display: block;
}
.card {
  float: right;
  background: #fff;
  border-radius: 2px;
  height: 325px;
  width: 200px;
  margin: 20px 20px !important;
  position: relative;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  height: 60%;
  width: 200px;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}
.card > .img-container > img {
  width: 60%
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

.card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.card > .remove:hover {
  color: #d50000;
}
